{% extends "main/layout.html" %}

{% block content %}
<tr>
    <td>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr class='athing' id='38632492'>
                <td align="right" valign="top" class="title"><span class="rank">1.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38632492' class='clicky'
                            href='vote?id=38632492&amp;how=up&amp;auth=693409b74c29ae292c847012a1f63a6944be10c3&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a href="https://smerf-3d.github.io/"
                            rel="noreferrer">SMERF: Streamable Memory Efficient Radiance Fields</a><span
                            class="sitebit comhead"> (<a href="from?site=smerf-3d.github.io"><span
                                    class="sitestr">smerf-3d.github.io</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38632492">171 points</span> by <a
                            href="user?id=duckworthd" class="hnuser">duckworthd</a> <span class="age"
                            title="2023-12-13T19:03:13"><a href="item?id=38632492">1 hour ago</a></span>
                        <span id="unv_38632492"></span> | <a
                            href="flag?id=38632492&amp;auth=693409b74c29ae292c847012a1f63a6944be10c3&amp;goto=news">flag</a>
                        | <a href="hide?id=38632492&amp;auth=693409b74c29ae292c847012a1f63a6944be10c3&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38632492">27&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38632970'>
                <td align="right" valign="top" class="title"><span class="rank">2.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38632970' class='clicky'
                            href='vote?id=38632970&amp;how=up&amp;auth=2682ba798268d57ed87da89d56f83334a1eb442c&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://github.com/rochus-keller/CspChan">Show HN: A pure C89
                            implementation of Go channels, with blocking selects</a><span
                            class="sitebit comhead"> (<a href="from?site=github.com/rochus-keller"><span
                                    class="sitestr">github.com/rochus-keller</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38632970">79 points</span> by <a href="user?id=Rochus"
                            class="hnuser">Rochus</a> <span class="age" title="2023-12-13T19:31:44"><a
                                href="item?id=38632970">1 hour ago</a></span> <span
                            id="unv_38632970"></span> | <a
                            href="flag?id=38632970&amp;auth=2682ba798268d57ed87da89d56f83334a1eb442c&amp;goto=news">flag</a>
                        | <a href="hide?id=38632970&amp;auth=2682ba798268d57ed87da89d56f83334a1eb442c&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38632970">32&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38634164'>
                <td align="right" valign="top" class="title"><span class="rank">3.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38634164' class='clicky'
                            href='vote?id=38634164&amp;how=up&amp;auth=4782e774064d494e7def06afe6a71052d0c9363a&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://www.allthingsdistributed.com/2023/11/tech-predictions-for-2024-and-beyond.html"
                            rel="noreferrer">Tech Predictions for 2024 and Beyond Dr. Werner Vogels, CTO,
                            Amazon.com</a><span class="sitebit comhead"> (<a
                                href="from?site=allthingsdistributed.com"><span
                                    class="sitestr">allthingsdistributed.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38634164">16 points</span> by <a
                            href="user?id=sharjeelsayed" class="hnuser">sharjeelsayed</a> <span class="age"
                            title="2023-12-13T21:09:13"><a href="item?id=38634164">17 minutes ago</a></span>
                        <span id="unv_38634164"></span> | <a
                            href="flag?id=38634164&amp;auth=4782e774064d494e7def06afe6a71052d0c9363a&amp;goto=news">flag</a>
                        | <a href="hide?id=38634164&amp;auth=4782e774064d494e7def06afe6a71052d0c9363a&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38634164">discuss</a> </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38632966'>
                <td align="right" valign="top" class="title"><span class="rank">4.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38632966' class='clicky'
                            href='vote?id=38632966&amp;how=up&amp;auth=89609c61371fe1fab6b2540a257acea4304012cf&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://www.bitsaboutmoney.com/archive/the-long-shadow-of-checks/"
                            rel="noreferrer">The Long Shadow of Checks</a><span class="sitebit comhead"> (<a
                                href="from?site=bitsaboutmoney.com"><span
                                    class="sitestr">bitsaboutmoney.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38632966">13 points</span> by <a href="user?id=zepton"
                            class="hnuser">zepton</a> <span class="age" title="2023-12-13T19:31:25"><a
                                href="item?id=38632966">48 minutes ago</a></span> <span
                            id="unv_38632966"></span> | <a
                            href="flag?id=38632966&amp;auth=89609c61371fe1fab6b2540a257acea4304012cf&amp;goto=news">flag</a>
                        | <a href="hide?id=38632966&amp;auth=89609c61371fe1fab6b2540a257acea4304012cf&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38632966">discuss</a> </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38634218'>
                <td align="right" valign="top" class="title"><span class="rank">5.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38634218' class='clicky'
                            href='vote?id=38634218&amp;how=up&amp;auth=f771d0f08c5abf73cfcb83d8e15f14ec3c31555f&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a href="https://arxiv.org/abs/2312.06937"
                            rel="nofollow noreferrer">Can a Transformer Represent a Kalman Filter?</a><span
                            class="sitebit comhead"> (<a href="from?site=arxiv.org"><span
                                    class="sitestr">arxiv.org</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38634218">8 points</span> by <a
                            href="user?id=bluish29" class="hnuser">bluish29</a> <span class="age"
                            title="2023-12-13T21:15:27"><a href="item?id=38634218">11 minutes ago</a></span>
                        <span id="unv_38634218"></span> | <a
                            href="flag?id=38634218&amp;auth=f771d0f08c5abf73cfcb83d8e15f14ec3c31555f&amp;goto=news">flag</a>
                        | <a href="hide?id=38634218&amp;auth=f771d0f08c5abf73cfcb83d8e15f14ec3c31555f&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38634218">1&nbsp;comment</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38633715'>
                <td align="right" valign="top" class="title"><span class="rank">6.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38633715' class='clicky'
                            href='vote?id=38633715&amp;how=up&amp;auth=e2121cee36cb58055728d717a7fd5b134920add2&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://twitter.com/ID_AA_Carmack/status/1734993768980402467"
                            rel="noreferrer">Quest 2 is outselling Quest 3</a><span class="sitebit comhead">
                            (<a href="from?site=twitter.com/id_aa_carmack"><span
                                    class="sitestr">twitter.com/id_aa_carmack</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38633715">9 points</span> by <a href="user?id=tosh"
                            class="hnuser">tosh</a> <span class="age" title="2023-12-13T20:27:56"><a
                                href="item?id=38633715">59 minutes ago</a></span> <span
                            id="unv_38633715"></span> | <a
                            href="flag?id=38633715&amp;auth=e2121cee36cb58055728d717a7fd5b134920add2&amp;goto=news">flag</a>
                        | <a href="hide?id=38633715&amp;auth=e2121cee36cb58055728d717a7fd5b134920add2&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38633715">1&nbsp;comment</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38628489'>
                <td align="right" valign="top" class="title"><span class="rank">7.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38628489' class='clicky'
                            href='vote?id=38628489&amp;how=up&amp;auth=0504c20fbcf8accdc1dde1eea992dacff63401bf&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://chipsandcheese.com/2023/12/12/cortex-a57-nintendo-switchs-cpu/"
                            rel="noreferrer">Cortex A57, Nintendo Switch&#x27;s CPU</a><span
                            class="sitebit comhead"> (<a href="from?site=chipsandcheese.com"><span
                                    class="sitestr">chipsandcheese.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38628489">143 points</span> by <a
                            href="user?id=rbanffy" class="hnuser">rbanffy</a> <span class="age"
                            title="2023-12-13T15:11:26"><a href="item?id=38628489">6 hours ago</a></span>
                        <span id="unv_38628489"></span> | <a
                            href="flag?id=38628489&amp;auth=0504c20fbcf8accdc1dde1eea992dacff63401bf&amp;goto=news">flag</a>
                        | <a href="hide?id=38628489&amp;auth=0504c20fbcf8accdc1dde1eea992dacff63401bf&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38628489">59&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38634068'>
                <td align="right" valign="top" class="title"><span class="rank">8.</span></td>
                <td><img src="" height="1" width="14"></td>
                <td class="title"><span class="titleline"><a
                            href="https://jobs.lever.co/prelay/832af523-bf6c-4fe0-8b9a-29084543a923"
                            rel="nofollow noreferrer">Prelay (YC W20) Is Hiring</a><span
                            class="sitebit comhead"> (<a href="from?site=lever.co"><span
                                    class="sitestr">lever.co</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext">
                    <span class="age" title="2023-12-13T21:00:27"><a href="item?id=38634068">26 minutes
                            ago</a></span> | <a
                        href="hide?id=38634068&amp;auth=160c954b8b61cf756c40b3318bb8a06f62ae9785&amp;goto=news"
                        class="clicky hider">hide</a>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38614054'>
                <td align="right" valign="top" class="title"><span class="rank">9.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38614054' class='clicky'
                            href='vote?id=38614054&amp;how=up&amp;auth=258dd3cbb249b41f9249f9f479d1dca9e888ff6b&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://wheybags.com/dungeons_and_directories/" rel="noreferrer">Dungeons
                            and Directories, an exploration game in your file explorer</a><span
                            class="sitebit comhead"> (<a href="from?site=wheybags.com"><span
                                    class="sitestr">wheybags.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38614054">87 points</span> by <a
                            href="user?id=mistermatt" class="hnuser">mistermatt</a> <span class="age"
                            title="2023-12-12T16:08:06"><a href="item?id=38614054">5 hours ago</a></span>
                        <span id="unv_38614054"></span> | <a
                            href="flag?id=38614054&amp;auth=258dd3cbb249b41f9249f9f479d1dca9e888ff6b&amp;goto=news">flag</a>
                        | <a href="hide?id=38614054&amp;auth=258dd3cbb249b41f9249f9f479d1dca9e888ff6b&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38614054">35&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38631647'>
                <td align="right" valign="top" class="title"><span class="rank">10.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38631647' class='clicky'
                            href='vote?id=38631647&amp;how=up&amp;auth=3d3b43fee778f058d12d4d4c7d7e39543ec4c385&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://www.theguardian.com/news/2023/dec/12/my-doomed-career-as-a-north-korean-novelist"
                            rel="noreferrer">My doomed career as a North Korean novelist</a><span
                            class="sitebit comhead"> (<a href="from?site=theguardian.com"><span
                                    class="sitestr">theguardian.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38631647">42 points</span> by <a
                            href="user?id=billybuckwheat" class="hnuser">billybuckwheat</a> <span
                            class="age" title="2023-12-13T18:16:01"><a href="item?id=38631647">3 hours
                                ago</a></span> <span id="unv_38631647"></span> | <a
                            href="flag?id=38631647&amp;auth=3d3b43fee778f058d12d4d4c7d7e39543ec4c385&amp;goto=news">flag</a>
                        | <a href="hide?id=38631647&amp;auth=3d3b43fee778f058d12d4d4c7d7e39543ec4c385&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38631647">11&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38610090'>
                <td align="right" valign="top" class="title"><span class="rank">11.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38610090' class='clicky'
                            href='vote?id=38610090&amp;how=up&amp;auth=d5c5e730d4f394e3da28b03eba73ed3a8dcc1564&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://www.bafta.org/media-centre/transcripts/screenwriters-lecture-charlie-kaufman"
                            rel="noreferrer">Screenwriters&#x27; Lecture: Charlie Kaufman (2011)</a><span
                            class="sitebit comhead"> (<a href="from?site=bafta.org"><span
                                    class="sitestr">bafta.org</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38610090">67 points</span> by <a
                            href="user?id=s-video" class="hnuser">s-video</a> <span class="age"
                            title="2023-12-12T06:03:37"><a href="item?id=38610090">6 hours ago</a></span>
                        <span id="unv_38610090"></span> | <a
                            href="flag?id=38610090&amp;auth=d5c5e730d4f394e3da28b03eba73ed3a8dcc1564&amp;goto=news">flag</a>
                        | <a href="hide?id=38610090&amp;auth=d5c5e730d4f394e3da28b03eba73ed3a8dcc1564&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38610090">13&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38632250'>
                <td align="right" valign="top" class="title"><span class="rank">12.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38632250' class='clicky'
                            href='vote?id=38632250&amp;how=up&amp;auth=3cef74d14bcbc983b64c14446888923bb84da4a9&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://www.bbc.com/future/article/20231212-the-sound-that-warns-a-tornado-is-coming"
                            rel="noreferrer">Low-frequency sound can reveal that a tornado is on its
                            way</a><span class="sitebit comhead"> (<a href="from?site=bbc.com"><span
                                    class="sitestr">bbc.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38632250">19 points</span> by <a
                            href="user?id=billybuckwheat" class="hnuser">billybuckwheat</a> <span
                            class="age" title="2023-12-13T18:49:23"><a href="item?id=38632250">2 hours
                                ago</a></span> <span id="unv_38632250"></span> | <a
                            href="flag?id=38632250&amp;auth=3cef74d14bcbc983b64c14446888923bb84da4a9&amp;goto=news">flag</a>
                        | <a href="hide?id=38632250&amp;auth=3cef74d14bcbc983b64c14446888923bb84da4a9&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38632250">10&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38627821'>
                <td align="right" valign="top" class="title"><span class="rank">13.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38627821' class='clicky'
                            href='vote?id=38627821&amp;how=up&amp;auth=42db8af6cb6a7bfe6a1f94ff6e5f3246181bbe1e&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://spectrum.ieee.org/q-a-with-co-creator-of-the-6502-processor"
                            rel="noreferrer">Q&amp;A With Bill Mensch, co-creator of the 6502</a><span
                            class="sitebit comhead"> (<a href="from?site=ieee.org"><span
                                    class="sitestr">ieee.org</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38627821">70 points</span> by <a
                            href="user?id=systems_glitch" class="hnuser">systems_glitch</a> <span
                            class="age" title="2023-12-13T14:28:09"><a href="item?id=38627821">6 hours
                                ago</a></span> <span id="unv_38627821"></span> | <a
                            href="flag?id=38627821&amp;auth=42db8af6cb6a7bfe6a1f94ff6e5f3246181bbe1e&amp;goto=news">flag</a>
                        | <a href="hide?id=38627821&amp;auth=42db8af6cb6a7bfe6a1f94ff6e5f3246181bbe1e&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38627821">19&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38627864'>
                <td align="right" valign="top" class="title"><span class="rank">14.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38627864' class='clicky'
                            href='vote?id=38627864&amp;how=up&amp;auth=eef04a21eec2de685b757d9a3eb706e8d7fd8c58&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://people.ece.ubc.ca/sasha/papers/eurosys16-final29.pdf"
                            rel="noreferrer">The Linux Scheduler: A Decade of Wasted Cores (2016)
                            [pdf]</a><span class="sitebit comhead"> (<a href="from?site=ubc.ca"><span
                                    class="sitestr">ubc.ca</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38627864">99 points</span> by <a
                            href="user?id=PaulHoule" class="hnuser">PaulHoule</a> <span class="age"
                            title="2023-12-13T14:31:27"><a href="item?id=38627864">6 hours ago</a></span>
                        <span id="unv_38627864"></span> | <a
                            href="flag?id=38627864&amp;auth=eef04a21eec2de685b757d9a3eb706e8d7fd8c58&amp;goto=news">flag</a>
                        | <a href="hide?id=38627864&amp;auth=eef04a21eec2de685b757d9a3eb706e8d7fd8c58&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38627864">33&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38633926'>
                <td align="right" valign="top" class="title"><span class="rank">15.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38633926' class='clicky'
                            href='vote?id=38633926&amp;how=up&amp;auth=7e70f8a658dc99bb3d6538bf1443dcf6212e27bf&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a href="https://jawj.github.io/fliptiles/"
                            rel="nofollow noreferrer">Play Othello in your web browser (made with
                            Mithril)</a><span class="sitebit comhead"> (<a
                                href="from?site=jawj.github.io"><span
                                    class="sitestr">jawj.github.io</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38633926">4 points</span> by <a href="user?id=gmac"
                            class="hnuser">gmac</a> <span class="age" title="2023-12-13T20:48:34"><a
                                href="item?id=38633926">38 minutes ago</a></span> <span
                            id="unv_38633926"></span> | <a
                            href="flag?id=38633926&amp;auth=7e70f8a658dc99bb3d6538bf1443dcf6212e27bf&amp;goto=news">flag</a>
                        | <a href="hide?id=38633926&amp;auth=7e70f8a658dc99bb3d6538bf1443dcf6212e27bf&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38633926">discuss</a> </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38621270'>
                <td align="right" valign="top" class="title"><span class="rank">16.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38621270' class='clicky'
                            href='vote?id=38621270&amp;how=up&amp;auth=2db2bd0c97817600726c45e416186d173d809ab8&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://www.reuters.com/technology/space/us-agency-will-not-reinstate-900-mln-subsidy-spacex-starlink-unit-2023-12-13/"
                            rel="noreferrer">US agency will not reinstate $900M subsidy for
                            Starlink</a><span class="sitebit comhead"> (<a
                                href="from?site=reuters.com"><span
                                    class="sitestr">reuters.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38621270">144 points</span> by <a
                            href="user?id=adolph" class="hnuser">adolph</a> <span class="age"
                            title="2023-12-13T01:05:34"><a href="item?id=38621270">6 hours ago</a></span>
                        <span id="unv_38621270"></span> | <a
                            href="flag?id=38621270&amp;auth=2db2bd0c97817600726c45e416186d173d809ab8&amp;goto=news">flag</a>
                        | <a href="hide?id=38621270&amp;auth=2db2bd0c97817600726c45e416186d173d809ab8&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38621270">441&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38627674'>
                <td align="right" valign="top" class="title"><span class="rank">17.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38627674' class='clicky'
                            href='vote?id=38627674&amp;how=up&amp;auth=f2b4aa22cec308bf453c2a49cccf5b1454e02651&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://quinnkeast.com/writing/its-weird-how-design-systems-are-so-rote-yet-so-difficult"
                            rel="noreferrer">It&#x27;s weird how design systems are so rote, yet so
                            difficult</a><span class="sitebit comhead"> (<a
                                href="from?site=quinnkeast.com"><span
                                    class="sitestr">quinnkeast.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38627674">104 points</span> by <a
                            href="user?id=qkeast" class="hnuser">qkeast</a> <span class="age"
                            title="2023-12-13T14:17:19"><a href="item?id=38627674">7 hours ago</a></span>
                        <span id="unv_38627674"></span> | <a
                            href="flag?id=38627674&amp;auth=f2b4aa22cec308bf453c2a49cccf5b1454e02651&amp;goto=news">flag</a>
                        | <a href="hide?id=38627674&amp;auth=f2b4aa22cec308bf453c2a49cccf5b1454e02651&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38627674">73&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38632827'>
                <td align="right" valign="top" class="title"><span class="rank">18.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38632827' class='clicky'
                            href='vote?id=38632827&amp;how=up&amp;auth=b9becffa1329fe8fffe7487bd07fd1527f986d88&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://a16z.com/announcing-our-latest-open-source-ai-grants/"
                            rel="nofollow noreferrer">2nd Batch of the A16Z Open Source AI Grant</a><span
                            class="sitebit comhead"> (<a href="from?site=a16z.com"><span
                                    class="sitestr">a16z.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38632827">9 points</span> by <a
                            href="user?id=rajko_rad" class="hnuser">rajko_rad</a> <span class="age"
                            title="2023-12-13T19:24:17"><a href="item?id=38632827">2 hours ago</a></span>
                        <span id="unv_38632827"></span> | <a
                            href="flag?id=38632827&amp;auth=b9becffa1329fe8fffe7487bd07fd1527f986d88&amp;goto=news">flag</a>
                        | <a href="hide?id=38632827&amp;auth=b9becffa1329fe8fffe7487bd07fd1527f986d88&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38632827">1&nbsp;comment</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38629539'>
                <td align="right" valign="top" class="title"><span class="rank">19.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38629539' class='clicky'
                            href='vote?id=38629539&amp;how=up&amp;auth=c840cd09c1aaca97646020e5b0e26db390c4a6ca&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a href="https://github.com/ofek/pyapp">Show HN:
                            PyApp – runtime installer for Python applications</a><span
                            class="sitebit comhead"> (<a href="from?site=github.com/ofek"><span
                                    class="sitestr">github.com/ofek</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38629539">50 points</span> by <a href="user?id=ofek"
                            class="hnuser">ofek</a> <span class="age" title="2023-12-13T16:17:08"><a
                                href="item?id=38629539">5 hours ago</a></span> <span
                            id="unv_38629539"></span> | <a
                            href="flag?id=38629539&amp;auth=c840cd09c1aaca97646020e5b0e26db390c4a6ca&amp;goto=news">flag</a>
                        | <a href="hide?id=38629539&amp;auth=c840cd09c1aaca97646020e5b0e26db390c4a6ca&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38629539">22&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38627114'>
                <td align="right" valign="top" class="title"><span class="rank">20.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38627114' class='clicky'
                            href='vote?id=38627114&amp;how=up&amp;auth=c6ad16ae443ec2b288c0d784424cefc24f96637b&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://english.elpais.com/science-tech/2023-12-12/the-origin-of-mysterious-green-ghosts-in-the-sky-has-been-discovered.html"
                            rel="noreferrer">Origin of mysterious green &#x27;ghosts&#x27; in the sky has
                            been discovered</a><span class="sitebit comhead"> (<a
                                href="from?site=elpais.com"><span
                                    class="sitestr">elpais.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38627114">66 points</span> by <a href="user?id=belter"
                            class="hnuser">belter</a> <span class="age" title="2023-12-13T13:36:43"><a
                                href="item?id=38627114">7 hours ago</a></span> <span
                            id="unv_38627114"></span> | <a
                            href="flag?id=38627114&amp;auth=c6ad16ae443ec2b288c0d784424cefc24f96637b&amp;goto=news">flag</a>
                        | <a href="hide?id=38627114&amp;auth=c6ad16ae443ec2b288c0d784424cefc24f96637b&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38627114">13&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38629859'>
                <td align="right" valign="top" class="title"><span class="rank">21.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38629859' class='clicky'
                            href='vote?id=38629859&amp;how=up&amp;auth=6444ec7b4a8688ef473ef7e949a87a2ca65dd3eb&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://www.newyorker.com/magazine/2023/12/18/all-the-carcinogens-we-cannot-see"
                            rel="noreferrer">Carcinogens that don’t create cancer cells but rouse
                            them</a><span class="sitebit comhead"> (<a href="from?site=newyorker.com"><span
                                    class="sitestr">newyorker.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38629859">72 points</span> by <a
                            href="user?id=pseudolus" class="hnuser">pseudolus</a> <span class="age"
                            title="2023-12-13T16:38:17"><a href="item?id=38629859">4 hours ago</a></span>
                        <span id="unv_38629859"></span> | <a
                            href="flag?id=38629859&amp;auth=6444ec7b4a8688ef473ef7e949a87a2ca65dd3eb&amp;goto=news">flag</a>
                        | <a href="hide?id=38629859&amp;auth=6444ec7b4a8688ef473ef7e949a87a2ca65dd3eb&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38629859">22&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38628417'>
                <td align="right" valign="top" class="title"><span class="rank">22.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38628417' class='clicky'
                            href='vote?id=38628417&amp;how=up&amp;auth=fbfc014714b214230ddabe7ddb698a3706ffe096&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://cloud.google.com/blog/products/ai-machine-learning/imagen-2-on-vertex-ai-is-now-generally-available"
                            rel="noreferrer">Google Imagen 2</a><span class="sitebit comhead"> (<a
                                href="from?site=cloud.google.com"><span
                                    class="sitestr">cloud.google.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38628417">182 points</span> by <a href="user?id=geox"
                            class="hnuser">geox</a> <span class="age" title="2023-12-13T15:07:05"><a
                                href="item?id=38628417">6 hours ago</a></span> <span
                            id="unv_38628417"></span> | <a
                            href="flag?id=38628417&amp;auth=fbfc014714b214230ddabe7ddb698a3706ffe096&amp;goto=news">flag</a>
                        | <a href="hide?id=38628417&amp;auth=fbfc014714b214230ddabe7ddb698a3706ffe096&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38628417">131&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38611422'>
                <td align="right" valign="top" class="title"><span class="rank">23.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38611422' class='clicky'
                            href='vote?id=38611422&amp;how=up&amp;auth=721152306eef260d66be192707e116cc77d66a6c&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://www.nature.com/articles/d41586-023-03975-7"
                            rel="noreferrer">&#x27;Biocomputer&#x27; combines lab-grown brain tissue with
                            electronic hardware</a><span class="sitebit comhead"> (<a
                                href="from?site=nature.com"><span
                                    class="sitestr">nature.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38611422">90 points</span> by <a
                            href="user?id=pseudolus" class="hnuser">pseudolus</a> <span class="age"
                            title="2023-12-12T12:41:58"><a href="item?id=38611422">10 hours ago</a></span>
                        <span id="unv_38611422"></span> | <a
                            href="flag?id=38611422&amp;auth=721152306eef260d66be192707e116cc77d66a6c&amp;goto=news">flag</a>
                        | <a href="hide?id=38611422&amp;auth=721152306eef260d66be192707e116cc77d66a6c&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38611422">75&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38629626'>
                <td align="right" valign="top" class="title"><span class="rank">24.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38629626' class='clicky'
                            href='vote?id=38629626&amp;how=up&amp;auth=be2dff5f8d8cf6338cdefe8feeb14b472a4a4af3&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://ubuntu.com/blog/ubuntu-performance-engineering-with-frame-pointers-by-default"
                            rel="noreferrer">Ubuntu 24.04 LTS will enable frame pointers by default</a><span
                            class="sitebit comhead"> (<a href="from?site=ubuntu.com"><span
                                    class="sitestr">ubuntu.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38629626">130 points</span> by <a
                            href="user?id=jonseager" class="hnuser">jonseager</a> <span class="age"
                            title="2023-12-13T16:23:01"><a href="item?id=38629626">5 hours ago</a></span>
                        <span id="unv_38629626"></span> | <a
                            href="flag?id=38629626&amp;auth=be2dff5f8d8cf6338cdefe8feeb14b472a4a4af3&amp;goto=news">flag</a>
                        | <a href="hide?id=38629626&amp;auth=be2dff5f8d8cf6338cdefe8feeb14b472a4a4af3&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38629626">61&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38612680'>
                <td align="right" valign="top" class="title"><span class="rank">25.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38612680' class='clicky'
                            href='vote?id=38612680&amp;how=up&amp;auth=ca36f4e4d43b0cdeeeddecd5aee3e82ed26ecfc3&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a href="https://aods.cryingpotato.com"
                            rel="noreferrer">Show HN: Advent of Distributed Systems</a><span
                            class="sitebit comhead"> (<a href="from?site=cryingpotato.com"><span
                                    class="sitestr">cryingpotato.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38612680">224 points</span> by <a
                            href="user?id=cryingpotato" class="hnuser">cryingpotato</a> <span class="age"
                            title="2023-12-12T14:38:13"><a href="item?id=38612680">12 hours ago</a></span>
                        <span id="unv_38612680"></span> | <a
                            href="flag?id=38612680&amp;auth=ca36f4e4d43b0cdeeeddecd5aee3e82ed26ecfc3&amp;goto=news">flag</a>
                        | <a href="hide?id=38612680&amp;auth=ca36f4e4d43b0cdeeeddecd5aee3e82ed26ecfc3&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38612680">15&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38611001'>
                <td align="right" valign="top" class="title"><span class="rank">26.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38611001' class='clicky'
                            href='vote?id=38611001&amp;how=up&amp;auth=ea6bccb8d6eb022755ab000bb9aa52c93796c4fc&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://www.alexcrompton.com/blog/2018/02/15/how-to-beat-silicon-valley-competitors"
                            rel="noreferrer">How to Beat Silicon Valley Competitors (2018)</a><span
                            class="sitebit comhead"> (<a href="from?site=alexcrompton.com"><span
                                    class="sitestr">alexcrompton.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38611001">57 points</span> by <a
                            href="user?id=liumaiyi" class="hnuser">liumaiyi</a> <span class="age"
                            title="2023-12-12T11:48:10"><a href="item?id=38611001">4 hours ago</a></span>
                        <span id="unv_38611001"></span> | <a
                            href="flag?id=38611001&amp;auth=ea6bccb8d6eb022755ab000bb9aa52c93796c4fc&amp;goto=news">flag</a>
                        | <a href="hide?id=38611001&amp;auth=ea6bccb8d6eb022755ab000bb9aa52c93796c4fc&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38611001">37&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38628184'>
                <td align="right" valign="top" class="title"><span class="rank">27.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38628184' class='clicky'
                            href='vote?id=38628184&amp;how=up&amp;auth=9fd02066446bac19833f631924e069128688cf1e&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://owehrens.com/whisper-nvidia-rtx-4090-vs-m1pro-with-mlx/"
                            rel="noreferrer">Whisper: Nvidia RTX 4090 vs. M1 Pro with MLX</a><span
                            class="sitebit comhead"> (<a href="from?site=owehrens.com"><span
                                    class="sitestr">owehrens.com</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38628184">296 points</span> by <a
                            href="user?id=interpol_p" class="hnuser">interpol_p</a> <span class="age"
                            title="2023-12-13T14:52:36"><a href="item?id=38628184">6 hours ago</a></span>
                        <span id="unv_38628184"></span> | <a
                            href="flag?id=38628184&amp;auth=9fd02066446bac19833f631924e069128688cf1e&amp;goto=news">flag</a>
                        | <a href="hide?id=38628184&amp;auth=9fd02066446bac19833f631924e069128688cf1e&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38628184">127&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38632390'>
                <td align="right" valign="top" class="title"><span class="rank">28.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38632390' class='clicky'
                            href='vote?id=38632390&amp;how=up&amp;auth=9bc10961fe3220fc9ecf3b68afa2ce9f79c80700&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a href="https://arxiv.org/abs/2310.16795"
                            rel="noreferrer">QMoE: Practical Sub-1-Bit Compression of Trillion-Parameter
                            Models</a><span class="sitebit comhead"> (<a href="from?site=arxiv.org"><span
                                    class="sitestr">arxiv.org</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38632390">26 points</span> by <a
                            href="user?id=titaniumtown" class="hnuser">titaniumtown</a> <span class="age"
                            title="2023-12-13T18:57:12"><a href="item?id=38632390">2 hours ago</a></span>
                        <span id="unv_38632390"></span> | <a
                            href="flag?id=38632390&amp;auth=9bc10961fe3220fc9ecf3b68afa2ce9f79c80700&amp;goto=news">flag</a>
                        | <a href="hide?id=38632390&amp;auth=9bc10961fe3220fc9ecf3b68afa2ce9f79c80700&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38632390">6&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38619703'>
                <td align="right" valign="top" class="title"><span class="rank">29.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38619703' class='clicky'
                            href='vote?id=38619703&amp;how=up&amp;auth=bef9974b5f045e7223e4ef3a9562f7eb38b44657&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a
                            href="https://phys.org/news/2020-08-katydids.html"
                            rel="nofollow noreferrer">What did the katydids do when picking up bat
                            sounds?</a><span class="sitebit comhead"> (<a href="from?site=phys.org"><span
                                    class="sitestr">phys.org</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38619703">6 points</span> by <a href="user?id=wglb"
                            class="hnuser">wglb</a> <span class="age" title="2023-12-12T22:37:21"><a
                                href="item?id=38619703">2 hours ago</a></span> <span
                            id="unv_38619703"></span> | <a
                            href="flag?id=38619703&amp;auth=bef9974b5f045e7223e4ef3a9562f7eb38b44657&amp;goto=news">flag</a>
                        | <a href="hide?id=38619703&amp;auth=bef9974b5f045e7223e4ef3a9562f7eb38b44657&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38619703">discuss</a> </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class='athing' id='38589654'>
                <td align="right" valign="top" class="title"><span class="rank">30.</span></td>
                <td valign="top" class="votelinks">
                    <center><a id='up_38589654' class='clicky'
                            href='vote?id=38589654&amp;how=up&amp;auth=97a86c7b5e237a1c107f361ba8fd3eca50f6a47c&amp;goto=news'>
                            <div class='votearrow' title='upvote'></div>
                        </a></center>
                </td>
                <td class="title"><span class="titleline"><a href="http://spiderdash.standupweb.net/"
                            rel="noreferrer">Show HN: Spiderdash</a><span class="sitebit comhead"> (<a
                                href="from?site=standupweb.net"><span
                                    class="sitestr">standupweb.net</span></a>)</span></span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext"><span class="subline">
                        <span class="score" id="score_38589654">35 points</span> by <a
                            href="user?id=standup75" class="hnuser">standup75</a> <span class="age"
                            title="2023-12-10T06:44:43"><a href="item?id=38589654">7 hours ago</a></span>
                        <span id="unv_38589654"></span> | <a
                            href="flag?id=38589654&amp;auth=97a86c7b5e237a1c107f361ba8fd3eca50f6a47c&amp;goto=news">flag</a>
                        | <a href="hide?id=38589654&amp;auth=97a86c7b5e237a1c107f361ba8fd3eca50f6a47c&amp;goto=news"
                            class="clicky hider">hide</a> | <a href="item?id=38589654">15&nbsp;comments</a>
                    </span>
                </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <tr class="morespace" style="height:10px"></tr>
            <tr>
                <td colspan="2"></td>
                <td class='title'><a href='?p=2' class='morelink' rel='next'>More</a></td>
            </tr>
        </table>
    </td>
</tr>
{% endblock %}
